* {
    font-family: sans-serif;
}


/*------------------------------------*/


/* ---------- Boxes -------------*/


/*------------------------------------*/

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Images/registration-background.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 580px;
    position: relative;
    margin: 4% auto;
    background-color: white;
    padding: 5px;
    overflow: hidden;
}

.button-box {
    width: 240px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background: linear-gradient(to right, #c16f46, #ffad06);
    border-radius: 30px;
    transition: 0.5s;
}


/*------------------------------------*/


/* ---------- Social icons -------------*/


/*------------------------------------*/

.social-icons {
    margin: 30px auto;
    text-align: center;
}

.fa {
    padding: 5px;
    margin: 0 12px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


/*------------------------------------*/


/* ---------- Form-------------*/


/*------------------------------------*/

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #c16f46, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 15px;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}