/*------------------------------------*/


/* ---------- Form -------------*/


/*------------------------------------*/

.hero {
    width: 100%;
    height: 700px;
    background-color: #f1f1f1;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Images/registration-background.jpg);
    background-size: cover;
    background-position: center;
}

.form-box {
    width: 480px;
    height: 590px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: white;
    padding: 10px 0 0 10px;
    overflow: hidden;
    text-align: center;
}

.input-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px 0 0;
}

.select-field,
.input {
    width: 235px;
    padding: 5px;
}

.textarea-field {
    padding: 5px;
}

.btn-upload {
    border: none;
    outline: none;
}

.btn-submit {
    border: none;
    outline: none;
    margin-top: 25px;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: orange;
    transition: background-color 0.5s;
}

.btn-submit:hover {
    background-color: rgba(255, 166, 0, 0.637);
}


/*------------------------------------*/


/* ---------- meals -------------*/


/*------------------------------------*/

.meal ol {
    margin-left: 320px;
}